<app-divider>Weekly Content from Yuka</app-divider>
<app-placeholder [header]="true" [lines]="10"></app-placeholder>


<app-divider>Segment Content</app-divider>
<app-segment> 
    <header>
        <i class="pdf file outline icon"></i>
        No docs are listed 
    </header>
    <button class="ui primary button">
        Add Document
    </button>
</app-segment>

<app-segment> 
    <header>
        <i class="add file outline icon"></i>
        Add a file
    </header>
    <button class="ui primary button">
        Click to Add
    </button>
</app-segment>